#list
{
background-color:olive ;
width:300px;
height:300px;
align:center;
margin-left: 500px

}
#heading
{
  border: 1;
  border-style: groove;
  background-color: white;
  font-family:fantasy;
  height:40px;
}
#listItem
{
  background-color: white;
  border:1;
  border-style: outset;
  width:200px;
  font-style: italic;
}
