<section class="artistpage">
  <div class="search">
    <h1>Asset Directory</h1>
    <label>search: </label>
   Asset Type:

     <input type="radio"  name="Atype" ng-model="Atype" value="ph" > Physical Machines
     <input type="radio" name="Atype" ng-model="Atype" value="vm"> Virtual Machine
     <input type="radio" name="Atype" ng-model="Atype" value="md"> Mobile Device

   <br>
   <div class="wrapper">
   OS:<select ng-model="query" ng-show="Atype=='vm'"   >
     <option value="Microsoft">Windows</option>
     <option value="Ubuntu">Linux</option>
     <option value="CentOS">CentOS</option>
     <option value="Oracle">Solaris</option>
   </select>

 </div>
    <br>
   Is Bookable:
   <label class="formgroup">
     <input type="radio" ng-model="booked" name="booked" value="reverse">True
   <input type="radio" ng-model="booked" name="booked" checked>False

  </label>

  </div>
  <table>

    <td ng-animate="'animate'" class="asset cf" ng-show="query" ng-repeat="item in assets.rows | limitTo: 20 | filter: query | orderBy:direction">
      <a href="#/details/{{assets.indexOf(item)}}">
        <img ng-src="images/Physical_Machine_tn.jpg" alt="Photo of {{item.name}}">
        <div class="info">
          <h2>{{item.VMName}}</h2>
          <h3>{{item.OS}}</h3>
        </div>
      </a>
    </td>
  </input>
</table>
</section>
